{% extends 'base.html' %}

{% block content %}
{% load static %}
  <div>test</div>
  <!-- Banner Section Starts -->
  <section class="banner breadcrumb mb-0 pt-11 pb-10 position-relative rounded3 rounded-top-0">
    <div class="overlay rounded3 rounded-top-0"></div>
    <div class="container position-relative">
      <div class="banner-inner pt-10 w-lg-75 m-auto text-center text-white ">
        <div class="section-title mb-2">
          <h1 class="text-white mb-2">About Us</h1>
          <ul class="list-unstyled d-flex justify-content-center">

            <li><a href="/">Home</a></li>
            <li class="mx-4"><i class="fa fa-star-o green" aria-hidden="true"></i></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section Ends -->

  <!-- About Us Section Starts -->
  <section class="about1 pb-11 pt-10">
    <div class="container">
      <div class="about-inner pb-11">
        <div class="row align-items-center gy-5 gx-xl-5">
          <div class="col-xl-2 col-md-6 order-3 order-xl-1">
            <div class="about-counter text-center">
              <div class="counter-box mb-6 pb-6 border-bottom border-1 border-grey1">
                <h2 class="green"><span class="num" data-val="20"></span>+</h2>
                <span class="text-uppercase black fw-medium">Years Experience</span>
              </div>
              <div class="counter-box mb-6 pb-6 border-bottom border-1 border-grey1">
                <h2 class="green"><span class="num" data-val="80"></span>+</h2>
                <span class="text-uppercase black fw-medium">Service Stations</span>
              </div>
              <div class="counter-box mb-6 pb-6 border-bottom border-1 border-grey1">
                <h2 class="green"><span class="num" data-val="15"></span>K+</h2>
                <span class="text-uppercase black fw-medium">Positive Reviews</span>
              </div>
              <div class="counter-box">
                <h2 class="green"><span class="num" data-val="20"></span>K+</h2>
                <span class="text-uppercase black fw-medium">Happy Customers</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 order-2">
            <div class="about-image">
              <img src="{% static 'images/charging-an-electric-or-hybrid-phev-car-with-the-p-2022-01-29-11-17-07-utc.jpg' %}" alt="about image" class="w-100 rounded2">
            </div>
          </div>
          <div class="col-xl-6 order-1 order-xl-3">
            <div class="about-info text-center text-xl-start">
              <div class="section-title mb-6">
                <h6 class="text-uppercase fw-medium green1 mb-1">About Evdrivex</h6>
                <h2 class="ps-4 border-start border-3 border-green">Reliable solutions for all <span class="green">ev charging</span> programs!</h2>
              </div>
              <div class="section-body">
                <p class="mb-4 pb-4 border-dashed border-top-0 border-2 border-start-0 border-end-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="about-services mb-6">
                  <div class="row g-0">
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-grey rounded2 rounded-bottom-0">
                        <img src="{% static 'images/PNG/car_eco.png' %}" alt="service image" class="me-3">
                        <a class="black text-capitalize fw-bold" href="#">Spare part management</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-white">
                        <img src="{% static 'images/PNG/car_with_flash.png'%}" alt="service image" class="me-3">
                        <a class="black text-capitalize fw-bold" href="#">fast dc charging</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-white">
                        <img src="{% static 'images/PNG/ecology.png' %}" alt="service image" class="me-3">
                        <a class="black text-capitalize fw-bold" href="#">warrenty Extension</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="about-service-box p-4 d-flex align-items-center bg-grey rounded2 rounded-top-0">
                        <img src="{% static 'images/PNG/battery_plug.png' %} " alt="service image" class="me-3">
                        <a class="black text-capitalize fw-bold" href="#">Preventive  maintenance</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="about.html" class="btn btn2">More About</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Section Ends -->

  <!-- Feature Section Starts -->
  <section class="feature position-relative pb-10">
    <div class="container">
      <div class="feature-inner p-7 rounded2 bg-white border border-2 border-lightgreen">
        <div class="row gx-md-0 gy-5">
          <div class="col-lg-4 col-md-6">
            <div class="feature-box1 pe-7">
              <div class="feature-icon mb-2">
                <img src="{% static 'images/PNG/car_with_plug.png' %}" alt="feature-image">
              </div>
              <div class="feature-info">
                <h5 class="mb-2"><a href="#" class="black">Fast DC Charging</a></h5>
                <p>Excepteur sint occaecat cupid atat non proi dent,  aecat cu non proi dent, sunt in culpa qui officia dese.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-box2 px-7 border-start border-end border-1 border-grey1">
              <div class="feature-icon mb-2">
                <img src="{% static 'images/PNG/flash.png' %} " alt="feature-image">
              </div>
              <div class="feature-info">
                <h5 class="mb-2"><a href="#" class="black">Save More Energy</a></h5>
                <p>Excepteur sint occaecat cupid atat non proi dent,  aecat cu non proi dent, sunt in culpa qui officia dese.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature-box3 ps-7">
              <div class="feature-icon mb-2">
                <img src="{% static 'images/PNG/car_with_battery.png' %}" alt="feature-image">
              </div>
              <div class="feature-info">
                <h5 class="mb-2"><a href="#" class="black">Fast DC chargning</a></h5>
                <p>Excepteur sint occaecat cupid atat non proi dent,  aecat cu non proi dent, sunt in culpa qui officia dese.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Feature Section Ends -->

  <!-- Work Section Starts -->
  <section class="work pt-10 pb-8 bg-dark text-center text-white rounded3 rounded-start-0 position-relative">
    <div class="overlay rounded3 rounded-start-0"></div>
    <div class="container position-relative">
      <div class="work-inner">
        <div class="section-title mb-8">
          <h6 class="text-uppercase fw-medium text-white mb-1">Why choose us</h6>
          <h2 class="text-white">Professional <span class="green">EV Charging</span> solution for you</h2>
        </div>
        <div class="section-body">
          <div class="row gy-5 gx-md-5">
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative">
                <div class="work-image mb-5">
                  <img src="{% static 'images/modern-electric-car-charging-at-outdoors-ev-statio-2023-03-17-23-18-45-utc.jpg' %}" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 text-white">Fast Charging</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">01.</h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative my-8">
                <div class="work-image mb-5">
                  <img src="{% static 'images/hand-holding-electric-car-charger-electric-vehicl-2022-11-16-14-02-45-utc.jpg' %}" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 text-white">Good Management</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">02.</h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative">
                <div class="work-image mb-5">
                  <img src="{% static 'images/indian-businessman-charging-car-at-outdoor-ev-stat-2023-03-17-23-18-50-utc.jpg' %}" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 text-white">Renewable Energy</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">03.</h4>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="work-box position-relative my-8">
                <div class="work-image mb-5">
                  <img src="{% static 'images/electric-car-charging-connected-to-the-grid-2023-02-07-21-01-15-utc.jpg' %}" alt="work image" class="rounded-circle object-fit-cover">
                </div>
                <div class="work-info">
                  <h4 class="mb-3 text-white">Quality Charger</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="work-box-number p-2 rounded-circle border border-3 border-lightgreen bg-green position-absolute">
                  <h4 class="text-white">04.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Work Section Ends -->

  <!-- Mission Section Starts -->
  <section class="mission py-10">
    <div class="container">
      <div class="mission-inner text-center text-lg-start border-dashed border-2 mb-7 pb-7 border-top-0 border-start-0 border-end-0">
        <div class="row align-items-center gy-5 gx-lg-5">
          <div class="col-lg-6">
            <div class="section-left">
              <img src="{% static 'images/map-evcharge.png' %}" alt="mission image" class="w-100">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-right">
              <div class="section-title mb-6">
                <h6 class="text-uppercase fw-medium green1 mb-1">Convenient & fast</h6>
                <h2 class="ps-4 border-start border-3 border-green"><span class="green">our mission</span> is to charge your electric vehicle properly</h2>
              </div>
              <div class="section-body">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul class="list-unstyled mission-list fw-bold mt-4 pt-4 border-dashed border-2 border-bottom-0 border-start-0 border-end-0">
                  <li class="mb-3"><i class="fa fa-leaf green me-1" aria-hidden="true"></i> Duis aute irure dolor in reprehenderit in voluptate</li>
                  <li class="mb-3"><i class="fa fa-leaf green me-1" aria-hidden="true"></i> Excepteur sint occaecat cupidatat non proident, sunt in culpa</li>
                  <li><i class="fa fa-leaf green me-1" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner">
        <div class="row align-items-center gy-5">
          <div class="col-lg-2">
            <div class="section-title text-center text-lg-start">
              <h3 class="ps-4 border-start border-3 border-green">Our<span class="green"> partners</span></h3>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="partner-slider border-start border-1 border-grey2">
              <div class="slide  d-flex justify-content-center">
                <img src="{% static 'images/1.png' %}" alt="partner image">
              </div>
              <div class="slide d-flex justify-content-center">
                <img src="{% static 'images/2.png' %}" alt="partner image">
              </div>
              <div class="slide d-flex justify-content-center">
                <img src="{% static 'images/3.png' %}" alt="partner image">
              </div>
              <div class="slide d-flex justify-content-center">
                <img src="{% static 'images/4.png' %}" alt="partner image">
              </div>
              <div class="slide d-flex justify-content-center">
                <img src="{% static 'images/5.png' %}" alt="partner image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mission Section Ends -->

  <!-- Team Section Starts -->
  <section class="team py-10">
    <div class="container">
      <div class="team-inner text-center">
        <div class="section-title mb-6">
          <h6 class="text-uppercase green1 fw-medium mb-1">our team</h6>
          <h2>Our experience <span class="green">team</span> member</h2>
        </div>
        <div class="section-body">
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="team-box p-4 bg-white border border-2 border-lightgreen rounded2">
                <div class="team-member-image mb-5">
                  <img src="{% static 'images/review3.jpg' %}" alt="team image" class="rounded-circle object-fit-cover">
                </div>
                <div class="team-member-info mb-2">
                  <h5 class="mb-2"><a href="team-detail.html" class="black">Robert Gates</a></h5>
                  <span class="green">Engineer</span>
                  <p class="mt-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                </div>
                <div class="team-socials">
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-facebook-square " aria-hidden="true"></i></a></li>
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="team-box p-4 bg-white border border-2 border-lightgreen rounded2">
                <div class="team-member-image mb-5">
                  <img src="{% static 'images/review1.jpg' %}" alt="team image" class="rounded-circle object-fit-cover">
                </div>
                <div class="team-member-info mb-2">
                  <h5 class="mb-2"><a href="team-detail.html" class="black">Esther Howard</a></h5>
                  <span class="green">Manager</span>
                  <p class="mt-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                </div>
                <div class="team-socials">
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-facebook-square " aria-hidden="true"></i></a></li>
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="team-box p-4 bg-white border border-2 border-lightgreen rounded2">
                <div class="team-member-image mb-5">
                  <img src="{% static 'images/review2.jpg' %}" alt="team image" class="rounded-circle object-fit-cover">
                </div>
                <div class="team-member-info mb-2">
                  <h5 class="mb-2"><a href="team-detail.html" class="black">kelly Housen</a></h5>
                  <span class="green">Technologist</span>
                  <p class="mt-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                </div>
                <div class="team-socials">
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-facebook-square " aria-hidden="true"></i></a></li>
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="team-box p-4 bg-white border border-2 border-lightgreen rounded2">
                <div class="team-member-image mb-5">
                  <img src="{% static 'images/review4.jpg' %}" alt="team image" class="rounded-circle object-fit-cover">
                </div>
                <div class="team-member-info mb-2">
                  <h5 class="mb-2"><a href="team-detail.html" class="black">Jack South</a></h5>
                  <span class="green">Engineer</span>
                  <p class="mt-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                </div>
                <div class="team-socials">
                  <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-facebook-square " aria-hidden="true"></i></a></li>
                    <li class="me-1"><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="text-center bg-lightgreen d-block rounded-circle green"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section Ends -->
 
  <!-- Newsletter Section Starts -->
   <section class="newsletter text-white z-1 position-relative">
    <div class="container">
      <div class="newsletter-inner p-6 bg-green1 rounded2 text-center text-md-start">
        <div class="row gx-xl-5 gy-4 align-items-center">
          <div class="col-xl-5">
            <div class="section-title">
              <h6 class="text-uppercase fw-medium mb-1 text-white">Subscribe Newsletter</h6>
              <h3 class="text-white">Don't miss our future updates! Get subscribed today!</h3>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="section-body">
              <p class="mb-3">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporatu incididunt ut labore et dolore magna aliqua.”</p>
              <div class="search-bar d-md-flex">
                <input type="text" placeholder="Search..." class="w-100 mx-1"><a href="#" class="btn btn3 mx-1">subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>
  <!-- Newsletter Section Starts -->

{% endblock %}