{% include "header.html" %}
{% load static %}
{% block content %}

<!-- Banner Section Starts -->
  <section class="banner breadcrumb mb-0 pt-11 pb-10 position-relative rounded3 rounded-top-0">
    <div class="overlay rounded3 rounded-top-0"></div>
    <div class="container position-relative">
      <div class="banner-inner pt-10 w-lg-75 m-auto text-center text-white ">
        <div class="section-title mb-2">
          <h1 class="text-white mb-2">Checkout</h1>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="index.html">Home</a></li>
            <li class="mx-4"><i class="fa fa-star-o green" aria-hidden="true"></i></li>
            <li><a href="#">Checkout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section Ends -->

  <!-- Checkout Section Starts -->
  <section class="checkout py-10">
    <div class="container">
      <div class="checkout-inner">
        <div class="row gy-5 gx-xl-5">
          <div class="col-lg-8">
            <div class="section-left">
              <div class="billing-detail p-6 border border-2 border-lightgreen rounded2 mb-5">
                <h5 class="mb-6">Billing detail</h5>
                <form>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <label for="first-name" class="mb-1">First Name <span class="red">*</span></label>
                      <input type="text" name="first-name" id="first-name" placeholder="First Name" class="bg-grey1 border border-2 border-grey mb-3" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <label for="last-name" class="mb-1">Last Name <span class="red">*</span></label>
                      <input type="text" name="last-name" id="last-name" placeholder="Last Name" class="bg-grey1 border border-2 border-grey mb-3" required>
                    </div>
                  </div>
                  <label for="company-name" class="mb-1">Company Name (optional) </label>
                  <input type="text" name="company-name" id="company-name" placeholder="Company Name" class="bg-grey1 border border-2 border-grey mb-3">
                  <label for="country" class="mb-1">Country/Region <span class="red">*</span></label>
                  <select id="country" class="bg-grey1 border border-2 border-grey mb-3" required>
                    <option value="" disabled selected>Select a country</option>
                    <option value="1">United States</option>
                    <option value="2">United Kingdom</option>
                    <option value="3">Canada</option>
                    <option value="4">Norway</option>
                    <option value="5">Nepal</option>
                  </select>
                  <label for="address" class="mb-1">Street Address <span class="red">*</span></label>
                  <input type="text" name="address" id="address" placeholder="House number and street name" class="bg-grey1 border border-2 border-grey mb-2" required>
                  <input type="text" name="address" id="address1" placeholder="Apartment, suite, unit, etc (optional)" class="bg-grey1 border border-2 border-grey mb-3">
                  <label for="town/city" class="mb-1">Town/City <span class="red">*</span></label>
                  <input type="text" name="town/city" id="town/city" placeholder="Town/City" class="bg-grey1 border border-2 border-grey mb-3" required>
                  <label for="state" class="mb-1">State <span class="red">*</span></label>
                  <select id="state" class="bg-grey1 border border-2 border-grey mb-3" required>
                    <option value="" disabled selected>Select a State</option>
                    <option value="1">California</option>
                    <option value="2">Arizona</option>
                    <option value="3">Texas</option>
                    <option value="4">New York</option>
                    <option value="5">Alabama</option>
                  </select>
                  <label for="postcode" class="mb-1">Zipcode <span class="red">*</span></label>
                  <input type="text" name="postcode" id="postcode" placeholder="" class="bg-grey1 border border-2 border-grey mb-3" required>
                  <label for="phone" class="mb-1">Phone <span class="red">*</span></label>
                  <input type="tel" name="phone" id="phone" placeholder="Phone" class="bg-grey1 border border-2 border-grey mb-3" required>
                  <label for="email" class="mb-1">Phone Address<span class="red">*</span></label>
                  <input type="email" name="email" id="email" placeholder="Email Address" class="bg-grey1 border border-2 border-grey" required>
                </form>
              </div>
              <div class="additional-info p-6 border border-2 border-lightgreen rounded2">
                <h5 class="mb-4">Additional Information</h5>
                <label for="other-comments" class="mb-1">Order Notes (optional)</label>
                <textarea id="other-comments" rows="2" placeholder="Notes about your order, e.g. special notes for delivery." class="bg-grey1 border border-2 border-grey"></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-right">
              <div class="cart-total px-6 py-4 mb-6 rounded2 border border-2 border-lightgreen">
                <h5 class="mb-4">Your Orders</h5>
                <ul class="list-unstyled text-decoration-none fw-semibold mb-4">
                  <li class="justify-content-between d-flex mb-2 pb-2 border-bottom border-grey1"><span>Product</span><span>Subtotal</span></li>
                  <li class="justify-content-between d-flex mb-2 pt-2 fw-normal"><span>Solar Panal EV Cherger x 2</span><span>$1720.00</span></li>
                  <li class="justify-content-between d-flex mb-2 pb-2 fw-normal"><span>Electric Car Charger x 1</span><span>$120.00</span></li>
                  <li class="justify-content-between d-flex mb-2 pb-2 border-bottom border-grey1"><span>Subtotal</span><span>$1840.00</span></li>
                  <li class="justify-content-between d-flex"><span>Total</span><span>$1840.00</span></li>
                </ul>
              </div>
              <div class="e-coupon-box p-5 border border-2 border-lightgreen rounded2 mb-5">
                <h6>Have a coupon? <a class="green" data-bs-toggle="collapse" href="#collapseExample">Click here to enter your coupon code</a></h6>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body border-0 mt-3 px-0">
                    <label for="coupon" class="mb-1">If you have a coupon code, please apply it below.</label>
                    <div class="cart-coupon justify-content-center d-md-flex">
                      <input type="text" name="coupon" id="coupon" class="w-md-60 me-4 border-grey1 my-1"> <a href="#" class="btn btn2 my-1">Apply</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-checkout-box p-6 border border-2 border-lightgreen rounded2">
                <p class="mb-5">Sorry, it seems that there are no available payment methods. Please contact us if you require assistance or wish to make alternate arrangements.</p>
                <a class="btn btn2 w-100">Place Order</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Checkout Section Ends -->

  <!-- Newsletter Section Starts -->
   <section class="newsletter text-white z-1 position-relative">
    <div class="container">
      <div class="newsletter-inner p-6 bg-green1 rounded2 text-center text-md-start">
        <div class="row gx-xl-5 gy-4 align-items-center">
          <div class="col-xl-5">
            <div class="section-title">
              <h6 class="text-uppercase fw-medium mb-1 text-white">Subscribe Newsletter</h6>
              <h3 class="text-white">Don't miss our future updates! Get subscribed today!</h3>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="section-body">
              <p class="mb-3">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporatu incididunt ut labore et dolore magna aliqua.”</p>
              <div class="search-bar d-md-flex">
                <input type="text" placeholder="Search..." class="w-100 mx-1"><a href="#" class="btn btn3 mx-1">subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>
  <!-- Newsletter Section Starts -->
{% endblock %}

{% include "footer.html" %}