{% extends 'base.html' %}

{% block content %}
{% load static %}
  
  <!-- Banner Section Starts -->
  <section class="banner breadcrumb mb-0 pt-11 pb-10 position-relative rounded3 rounded-top-0">
    <div class="overlay rounded3 rounded-top-0"></div>
    <div class="container position-relative">
      <div class="banner-inner pt-10 w-lg-75 m-auto text-center text-white ">
        <div class="section-title mb-2">
          <h1 class="text-white mb-2">Contact Us</h1>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="mx-4"><i class="fa fa-star-o green" aria-hidden="true"></i></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section Ends -->

  <!-- Contact Section Starts -->
  <section class="contact py-10 position-relative">
    <div class="overlay"></div>
    <div class="container position-relative pb-8">
      <div class="contact-inner text-center text-lg-start">
        <div class="row gx-xl-5 gy-5 align-items-center">
          <div class="col-lg-6">
            <div class="section-left">
              <div class="section-title mb-4">
                <h6 class="text-uppercase fw-medium green1 mb-1">Touch with us</h6>
                <h2 class="ps-4 border-start border-3 border-green mb-4">Feel free to <span class="green">contact and reach us</span> for more info</h2>
              </div>
              <div class="section-body">
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                <div class="contact-info text-center">
                  <div class="row gy-4">
                    <div class="col-lg-12">
                      <div class="contact-info-box bg-white text-md-start d-md-flex align-items-center p-4 border border-2 border-lightgreen rounded2">
                        <div class="contact-icon me-5">
                          <i class="fa fa-map-marker text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                        </div>
                        <div class="contact-box-info">
                          <h5 class="mb-1">Location Address:</h5>
                          <span>Galleria mall conference center, USA</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="contact-info-box bg-white p-4 border border-2 border-lightgreen rounded2">
                        <div class="contact-icon mb-5">
                          <i class="fa fa-phone text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                        </div>
                        <div class="contact-box-info">
                          <h5 class="mb-1">Phone Number:</h5>
                          <span><a href="tel:+4733378901" class="grey">+(+62) 1919-2020</a></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="contact-info-box bg-white p-4 border border-2 border-lightgreen rounded2">
                        <div class="contact-icon mb-5">
                          <i class="fa fa-envelope-o text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                        </div>
                        <div class="contact-box-info">
                          <h5 class="mb-1">Email Address</h5>
                          <span><a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection#e58c8b838aa5928087968c9180cb868a88" class="grey"><span class="__cf_email__" data-cfemail="dcb5b2bab39cb4bdacaca5acbda5f2bfb3b1">[email&#160;protected]</span></a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-right">
              <div class="section-title mb-4">
                <h6 class="text-uppercase fw-medium green1 mb-1">contact us</h6>
                <h2 class="ps-4 border-start border-3 border-green mb-2">send your <span class="green">message</span></h2>
                <p>Our team is ready to answer all your questions.</p>
              </div>
              <div class="contact-form p-6 border border-2 border-lightgreen rounded2 bg-white">
                <form>
                  <input type="text" name="name" id="name" class="bg-lightgreen mb-4 mx-1" placeholder="Your Name...">
                  <input type="email" name="email" id="email" class="bg-lightgreen mb-4 mx-1" placeholder="Your Email...">
                  <span class="d-md-flex">
                    <input type="number" name="phone" id="phone" class="bg-lightgreen mb-4 mx-1" placeholder="Phone No...">
                    <input type="text" name="subject" id="subject" class="bg-lightgreen mb-4 mx-1" placeholder="Your Subject...">
                  </span>
                  <textarea name="message" id="message" placeholder="Enter your Message..." rows="4" class="bg-lightgreen mb-4"></textarea>
                  <button class="bnt btn2 border-0">Send Message</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section Ends -->

  <!-- Branch Contact Starts -->
  <section class="branch pb-10 position-relative">
    <div class="container">
      <div class="branch-inner text-center">
        <div class="contact-map mb-6">
          <iframe class="rounded2 w-100" height="400"
                      src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=+(mangal%20bazar)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        <div class="branch-list">
          <div class="row gy-5 gx-md-5">
            <div class="col-lg-4 col-md-6">
              <div class="branch-box p-6 border border-2 border-lightgreen rounded2 bg-white">
                <div class="branch-icon mb-5">
                  <i class="fa fa-map-marker text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                </div>
                <div class="branch-box-info">
                  <h4 class="mb-1">Australia Office</h4>
                  <span>785 15h Street, Office 478 Au, New South Wales Au 8156</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="branch-box p-6 border border-2 border-lightgreen rounded2 bg-white">
                <div class="branch-icon mb-5">
                  <i class="fa fa-map-marker text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                </div>
                <div class="branch-box-info">
                  <h4 class="mb-1">Singapore Office</h4>
                  <span>785 15h Street, Office 478 Singapore, Kampong Glam  10014</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="branch-box p-6 border border-2 border-lightgreen rounded2 bg-white">
                <div class="branch-icon mb-5">
                  <i class="fa fa-map-marker text-center bg-green rounded-circle text-white" aria-hidden="true"></i>
                </div>
                <div class="branch-box-info">
                  <h4 class="mb-1">USA Office</h4>
                  <span>7195 E. San Pablo St. Harlingen, TX 78552, United States of America</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Branch Contact Ends -->

  <!-- Newsletter Section Starts -->
   <section class="newsletter text-white z-1 position-relative">
    <div class="container">
      <div class="newsletter-inner p-6 bg-green1 rounded2 text-center text-md-start">
        <div class="row gx-xl-5 gy-4 align-items-center">
          <div class="col-xl-5">
            <div class="section-title">
              <h6 class="text-uppercase fw-medium mb-1 text-white">Subscribe Newsletter</h6>
              <h3 class="text-white">Don't miss our future updates! Get subscribed today!</h3>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="section-body">
              <p class="mb-3">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporatu incididunt ut labore et dolore magna aliqua.”</p>
              <div class="search-bar d-md-flex">
                <input type="text" placeholder="Search..." class="w-100 mx-1"><a href="#" class="btn btn3 mx-1">subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>
  <!-- Newsletter Section Starts -->
{% endblock %}
