{% load static %}

<!-- Footer Section Starts -->
  <footer class="rounded-bottom-0 pb-6 pt-9 rounded3 position-relative text-center text-xl-start">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-middle mb-6 pb-8 border-bottom border-1 border-grey">
          <div class="row gy-5 align-items-center">
            <div class="col-xl-8">
              <div class="newsletter m-0">
                <div class="newsletter-title mb-4">
                  <h6 class="text-uppercase fw-medium mb-1 text-white">Subscribe Newsletter</h6>
                  <h2 class="text-white">Don't miss our future updates! Get subscribed today!</h2>
                </div>
                <div class="newsletter-body">
                  <div class="search-bar">
                    <input type="email" placeholder="Email Address" class=" w-md-50"><a href="#" class="btn btn2 mx-1 my-2">subscribe</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-6">
              <div class="quick-links">
                <h3 class="text-white mb-2">Quick Link</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <ul class="list-unstyled">
                  <li class="mb-4"><a href="about.html">About Us</a></li>
                  <li class="mb-4"><a href="service-list.html">Services</a></li>
                  <li class="mb-4"><a href="#">Attorneys</a></li>
                  <li class="mb-4"><a href="blog-list.html">News & Articles</a></li>
                  <li class="mb-4"><a href="#">Policies</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-md-6">
              <div class="quick-links">
                <h3 class="text-white mb-2">Features</h3>
                <div class="seperator w-25 border-bottom border-1 border-white mb-6 ms-xl-1 m-auto"></div>
                <ul class="list-unstyled">
                  <li class="mb-4"><a href="#">Support Plans</a></li>
                  <li class="mb-4"><a href="#">Benifits</a></li>
                  <li class="mb-4"><a href="#">Subscriptions</a></li>
                  <li class="mb-4"><a href="#">Payment Methods</a></li>
                  <li class="mb-4"><a href="#">Onsite Payment</a></li>
                  <li><a href="#">Merchant Refund</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom pb-5">
          <div class="row gy-3 align-items-center">
            <div class="col-lg-6">
              <div class="footer-logo1">
                <div class="footer-logo-image text-lg-start">
                  <img src="{% static 'images/ev-logo-04.png' %}" alt="footer logo" class="w-lg-40 w-md-30 w-50">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="footer-socials d-flex justify-content-center justify-content-lg-end">
                <a href="#" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="rounded-circle text-center me-1 bg-lightdark"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#" class="rounded-circle text-center bg-lightdark"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright px-4 py-2 rounded2 text-center position-relative">
          <div class="overlay bg-white rounded2"></div>
          <div class="copyright-inner position-relative">
            <div class="row gy-4 align-items-center">
              <div class="col-xl-8">
                <div class="copyright-links">
                  <ul class="list-unstyled small d-md-flex text-white justify-content-center justify-content-xl-start">
                    <li class="me-4 my-2"><i class="fa fa-map-marker me-1" aria-hidden="true"></i> 256 Elizaberth Ave, CA, 90025</li>
                    <li class="me-4 my-2"><a href="tel:+4733378901" class="text-white"><i class="fa fa-phone me-1" aria-hidden="true"></i> +569 2316 2156</a></li>
                    <li class="my-2"><a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection#fa93949c95ba8d9f9889938e9fd4999597" class="text-white"><i class="fa fa-envelope-o me-1" aria-hidden="true"></i> <span class="__cf_email__" data-cfemail="80e9eee6efc0e5f6e4f2e9f6e5f8aee3efed">[email&#160;protected]</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="copyright-info text-xl-end text-white">
                  <p class="small">2025 EVdriveX. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section Starts -->

  <!--Back-to-top Button start-->
  <div id="back-to-top">
    <a href="#" class="bg-green position-relative align-items-center rounded-circle d-block border border-4 border-grey"></a>
  </div>
  <!--Bacl-to-top Button end-->

  <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/price-range.js' %}"></script>
  <script src="{% static 'js/custom-lightbox.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'9f863b9658eee692',t:'MTc3ODIxOTkwNw=='};var a=document.createElement('script');a.src='../../cdn-cgi/challenge-platform/h/g/scripts/jsd/fe6331af5207/maind41d.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}});</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8c78df7c7c0f484497ecbca7046644da1771523124516" integrity="sha512-8DS7rgIrAmghBFwoOTujcf6D9rXvH8xm8JQ1Ja01h9QX8EzXldiszufYa4IFfKdLUKTTrnSFXLDkUEOTrZQ8Qg==" data-cf-beacon='{"version":"2024.11.0","token":"e2e296138d64407b8469055f5cbf0b42","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from htmldesigntemplates.com/html/evdrivex/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 May 2026 05:59:23 GMT -->
</html>