{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>EV Bikes</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo1.jpeg' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!--CSS Plugins-->
  <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
  <!-- Default CSS-->
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
  <!--Custom CSS-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="{% static 'icons/font-awesome.min.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

</head>
<body class="index-2">
   <!-- Header Section Starts -->
  <header class="position-relative z-3">
    <div class="header-nav-menu" id="header-nav-menu">
      <div class="container">
        <div class="header-nav-menu-inner py-4">
          <div class="row align-items-center justify-content-between">
            <div class="d-block d-xl-none col-lg-2 col-md-3 col-5">
              <div class="navbar-logo m-0">
                <a href="{% url 'website:home' %}">
                  <img src="{% static 'images/logo1.jpeg' %}" alt="Logo" class="w-100">
                </a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav align-items-center justify-content-between flex-row" id="responsive-menu">

                  <!-- Home -->
                  <li class="nav-item">
                    <a class="nav-link px-3 py-0 white text-uppercase fw-medium {% if request.path == '/' %}active{% endif %}"
                       href="{% url 'website:home' %}">
                      Home
                    </a>
                  </li>

                  <!-- About -->
                  <li class="nav-item">
                    <a class="nav-link px-3 py-0 white text-uppercase fw-medium {% if 'about' in request.path %}active{% endif %}"
                       href="{% url 'website:about' %}">
                      About
                    </a>
                  </li>

                  <!-- Services Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3 white text-uppercase fw-medium" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu bg-grey p-0 border-0 rounded1 bg-off-white">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="{% url 'website:productslist' %}">Service List</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="{% url 'website:productdetail' 1 %}">Service Details</a></li>
                    </ul>
                  </li>

                  <!-- Projects Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3 white text-uppercase fw-medium" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Projects
                    </a>
                    <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:productslist' %}">Project List</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="{% url 'website:productdetail' 1 %}">Project Detail</a></li>
                    </ul>
                  </li>

                  <!-- Logo in Center -->
                  <li class="mx-2 d-none d-xl-block">
                    <a class="d-block" href="{% url 'website:home' %}" style="padding: 5px 15px;">
                      <img src="{% static 'images/wh.png' %}" alt="Logo" style="height: 50px; width: auto; display: flex">
                    </a>
                  </li>

                  <!-- Pages Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3 white text-uppercase fw-medium" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Pages
                    </a>
                    <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:home' %}#testimonials">Testimonials</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:home' %}#faq">Faq</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:productslist' %}">Product List</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:productdetail' 1 %}">Product Single</a></li>
                    </ul>
                  </li>

                  <!-- Shop Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3 white text-uppercase fw-medium" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Shop
                    </a>
                    <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:productslist' %}">Product List</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:productdetail' 1 %}">Product Detail</a></li>
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:cart' %}">Cart</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="{% url 'website:checkout' %}">Checkout</a></li>
                    </ul>
                  </li>

                  <!-- Blogs Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3 white text-uppercase fw-medium" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Blogs
                    </a>
                    <ul class="dropdown-menu bg-grey p-0 rounded1 bg-off-white border-0">
                      <li><a class="dropdown-item py-2 px-7 text-capitalize dark-grey border-0"
                          href="{% url 'website:home' %}#blog">Blog List</a></li>
                      <li class="border-0"><a class="dropdown-item py-2 px-7 text-capitalize border-0 dark-grey"
                          href="{% url 'website:home' %}#blog-detail">Blog single</a></li>
                    </ul>
                  </li>

                  <!-- Contact -->
                  <li class="nav-item">
                    <a class="nav-link px-3 py-0 white text-uppercase fw-medium {% if 'contact' in request.path %}active{% endif %}"
                       href="{% url 'website:contact' %}">
                      Contact
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <div id="slicknav-mobile"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header Section Ends -->